<% provide :title, t(".allusers") %>
<h1><%= t ".allusers" %></h1>
<%= will_paginate %>

<% if admin? current_user %>
<%= link_to t(".addusers"), signup_path, class: "btn btn-warning", id: "new-user" %>
<% end %>
<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
