<% provide :title, t(".all_course") %>
<h1><%= t ".all_course" %>
</h1>
<div id ="main" >
  <table class="table table-striped">
    <tbody><%= will_paginate %>
      <tr><%= t ".course_num" %><%= pluralize @courses.size, t(".courses") %>
      </tr><%= render @courses %><%= will_paginate %>
    </tbody>
  </table>
</div>

