<% provide :title, t(".all_course") %>
<h1><%= t ".all_course" %>
</h1>
<div id ="main" >
  <%= will_paginate %>
  <table class="table table-striped">
    <tbody>
      <tr><%= t ".course_num" %><%= pluralize @courses.size, t(".courses") %>
      </tr><%= render @courses %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>

