<% provide :title, @course.name %>
<div class="row">
  <aside class="col-md-8">
    <section class="user_info">
      <table class="table table-striped">
        <thead>
          <tr>
            <th><%= t ".course_name" %></th>
            <th><%= t ".description" %></th>
            <th><%= t ".start" %></th>
            <th><%= t ".end" %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @course.name %></td>
            <td><%= @course.description %></td>
            <td><%= @course.start_date %></td>
            <td><%= @course.end_date %></td>
          </tr>
        </tbody>
  </table>
  <div>
    <%= t ".list_trainer" %>
    <table class="table table-striped">
      <tbody>
        <tr>
          <% @trainer.each do |user| %>
            <td><%= gravatar_for user, size: Settings.avatarsizeshow %>
            <%= link_to user.name, user %>
          </td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  <div>
    <table class="table table-striped">
      <tbody>
        <%= will_paginate @trainee %>
          <%= t ".list_trainee" %>
            <% @trainee.each do |user| %>
              <tr>
                <td><%= gravatar_for user, size: Settings.avatarsizeshow %><%= link_to user.name, user %></td>
              </tr>
            <% end %>
        <%= will_paginate @trainee %>
      </tbody>
    </table>
  </div>
    </section>
  </aside>
</div>
